export SEPOLIA_RPC_PROVIDER_URL=''
export OPTIMISM_SEPOLIA_RPC_PROVIDER_URL=''
export BASE_SEPOLIA_RPC_PROVIDER_URL=''
export ARBITRUM_SEPOLIA_RPC_PROVIDER_URL=''
export SCROLL_SEPOLIA_RPC_PROVIDER_URL=''
export GNOSIS_CHIADO_RPC_PROVIDER_URL=''

export PRIVATE_KEY=''